<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>ps_admin_panel_legacy</name>
  <displayName><![CDATA[PrestaShop Admin Panel]]></displayName>
  <version><![CDATA[0.1.0]]></version>
  <description><![CDATA[PrestaShop module that adds an admin panel to the back office, allowing easy configuration of different types of fields.]]></description>
  <author><![CDATA[@jjpeleato]]></author><author_uri><![CDATA[https://www.jjpeleato.com/]]></author_uri>
  <tab><![CDATA[front_office_features]]></tab>
  <confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
</module>
